<!DOCTYPE html>
<html lang="en">

<!-- Head Link -->
<%- include('../partials/shared/head.ejs'); %>
<body>

    <!-- Header -->
    <header>
        <%- include('../partials/shared/header.ejs'); %>
    </header>

    <main>

        <!-- Hero Section-->
        <section>
            <%- include('../partials/home/hero.ejs'); %>
        </section>

        <!-- Call to Action Registration Section-->

        <section>
            <%- include('../partials/home/cta-registration.ejs'); %>
        </section>
    </main>

        <footer>

        </footer>

        <!-- JS Library -->

        <%- include('../jsLibrary/library.ejs'); %>
</body>
</html>