<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/shared/head.ejs'); %>
</head>
<body>
    <header>
        <%- include('../partials/shared/header.ejs'); %>
    </header>

    <main>
        
       <section>
            <%- include('../partials/forms/login.ejs'); %>
       </section>
    </main>

    <footer>
        <%- include('../partials/shared/footer.ejs'); %>
    </footer>

    <!-- JS Libary -->
    <%- include('../jsLibrary/library.ejs'); %>
</body>
</html>