<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/shared/head.ejs'); %>
</head>
<body>
    <header>
        <%- include('../partials/shared/header.ejs'); %>
    </header>
    <main>
        
        <!-- Form Section -->

       <section>
            <%- include('../partials/forms/login.ejs'); %>
       </section>

       <!-- Newsletter Section -->

       <section>
            <%- include('../partials/shared/newsletter.ejs'); %> 
       </section>

       <!-- Blog Section -->

       <section>
            <%- include('../partials/shared/blog.ejs', {blogInformation}); %>
       </section>
    </main>

    <footer>
        <%- include('../partials/shared/footer.ejs'); %>
    </footer>

    <!-- JS Libary -->
    <%- include('../jsLibrary/library.ejs'); %>
</body>
</html>