<div class="border | rounded-md | border-l-4 | border-l-blue-500 | drop-shadow-sm | p-5 | lg:max-w-sm | w-full | font-inter | text-[14px] | hover:scale-105 | transition-all">
    <div class="grid | gap-[20px]">
        <p> <%= blogInformation.date %> </p>
        <h3 class="font-bold | text-[20px] | text-blue-500"><%= blogInformation.headline %> </h3>
        <p class="font-semibold"><%= blogInformation.author %> </p>
        <p class="text-gray"><%= blogInformation.description %> </p>
        <button class="<%= blogInformation.button %>">Read More</button>
    </div>
</div>